<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Main StyleSheet -->



    <!-- Responsive StyleSheet -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Icon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('dashboard') }}
</head>
<body class="presentation-page">
<div class="ag-snow"></div>
<!-- Start Navbar -->
{% include('shared/aside.html.twig') %}
<!-- End Navbar -->
{% block body %}{% endblock %}
<!-- Start Footer -->
{% include('shared/footer-admin.html.twig')
%}
<!-- End Footer -->

<!-- Delete Comment Modal -->
{{ include('/modals/delete-comment.html.twig') }}

<!-- Delete Trick Modal -->
{{ include('/modals/delete-trick.html.twig') }}

<!-- Main JS File-->

{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('bootstrap-notify') }}
{{ encore_entry_script_tags('perfect-scrollbar.min') }}
{{ encore_entry_script_tags('smooth-scrollbar.min') }}
{{ encore_entry_script_tags('swiper-bundle.min') }}
{{ encore_entry_script_tags('bootstrap.bundle.min') }}
{{ encore_entry_script_tags('bootstrap.min') }}
{{ encore_entry_script_tags('popper.min') }}
{{ encore_entry_script_tags('corporate-ui-dashboard') }}
</body>
</html>
