<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Title -->
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!--Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <!-- Main StyleSheet -->



        <!-- Responsive StyleSheet -->

        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('responsive') }}
    </head>
    <body class="presentation-page">
      <div class="ag-snow"></div>
        <!-- Start Navbar -->
      {% include('shared/navbar.html.twig') %}
        <!-- End Navbar -->
        {% block body %}{% endblock %}
        <!-- Start Footer -->
      {% include('shared/footer.html.twig')
      %}
        <!-- End Footer -->

        <!-- Delete Comment Modal -->
        {{ include('/modals/delete-comment.html.twig') }}

        <!-- Delete Trick Modal -->
        {{ include('/modals/delete-trick.html.twig') }}

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Popper Library-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Main JS File-->

        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('main') }}
    </body>
</html>
